.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(19, 0, 34);
    padding: 30px;
    max-width: 300px;
    border-radius: 15px;
    height: 510px;
    justify-content: space-around;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title{
    font-size: 2rem;
    font-weight: 900;
}

.desc{
    font-size: 1.5rem;
    font-weight: 800;
}

.image{
    border-radius: 100%;
    filter:sepia(0.8);
    transition: all 400ms;
}

.image:hover{
    filter: sepia(0);
    transition: all 400ms;
}