.wrapMedia{
    justify-content: center;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(7, 12, 56);
    gap: 3vh;
    height: 400px;
    width: 300px;
    padding:30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.number{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.number label{
    font-size: 1.5rem;
    font-weight: 900;
}
.media{
    display: flex;
    flex-direction: column;
    align-items: center;
}
